@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body
{
	font-family:'Nanum Gothic';
}
.click_button
{
	font-family:'Orbitron', 'Nanum Gothic';
	font-size:150px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
}