a:link
{
	color:#000000;
	text-decoration:none;
}
a:visited
{
	color:#000000;
	text-decoration:none;
}
a:hover
{
	color:#000000;
	text-decoration:none;
}
a:active
{
	color:#000000;
	text-decoration:none;
}
.hide
{
	display:none;
}
.header
{
	position:relative;
	min-width:1000px;
	max-width:1600px;
}
.headerlink
{
	text-align:right;
	display:inline-block;
	position:relative;
	left:78%;
}
.headerlink li
{
	display:inline;
	color:blue;
}
.store_frame
{
	position:relative;
	min-width:800px;
	max-width:1600px;
}
.store_category
{
	border:1px solid;
	width:100%;
}
.store_category ul
{
	margin:0px;
	padding-left:100px;
	display:inline;
}
.store_category li
{
	padding:5px;
	display:inline;
}
.item
{
	display:inline-block;
	margin:12px;
	margin-top:10px;
	width:200px;
	height:230px;
	box-shadow:0px 0px 5px #000;
}
.item_image
{
	overflow:hidden;
	height:200px;
}
.item_image img
{
	position:relative;
	width:auto;
	height:100%;
	left:50%;
	transform:translate(-50%, 0);
}
.item_info
{
	padding-left:3px;
	padding-right:3px;
	padding:5px;
	position:relative;
	left:-1px;
	width:194px;
	text-align:center;
	margin:0px;
}
.item_name
{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position:relative;
}
.item_price
{
	font-size:0.8em;
	text-align:right;
}
.equip_frame
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-width:800px;
	max-width:1600px;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
}
.equip_window
{
	background:#fff;
	width:900px;
	height:450px;
	border:1px solid;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);
}
.equip_image
{
	border-right:1px solid;
	float:left;
	width:50%;
	height:100%;
}
.equip_image img
{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	max-width:100%;
	height:auto;
}
.equip_info
{
	position:relative;
	display:inline-block;
	width:49%;
	height:100%;
}
.equip_name
{
	padding-top:10px;
	text-align:center;
}
.equip_desc
{
	padding:5px;
	padding-top:20px;
}
.equip_price
{
	padding:5px;
	padding-top:20px;
	text-align:right;
}
.equip_button
{
	position:absolute;
	right:5px;
	bottom:10px;
}